@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,400&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    background: url("../img/img1.jpg");
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5%;
    background-color: #382e2eb7;
    font-size: 18pt;
    font-weight: 500;
    color: white;
    text-decoration: orange underline wavy;
}

.body {
    height: auto;
    width: 600px;
    background: url("../img/img3.jpg");
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;

    color: black;

    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease-in-out;
}

.description {
    font-size: 16pt;
}

input {
    height: 100%;
    margin-right: 10px;
    padding: 0 5px;
}

.input {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    height: 25px;
}

#btnSearch {
    height: 100%;
    background-color: #ec0203;

    display: flex;
    justify-self: center;
    align-items: center;
    border: 5px solid white;
    padding: 0 10px;

    transition: background-color 0.15s ease-in-out;
}

#btnSearch:hover {
    cursor: pointer;
    background-color: #ff4747;
}

#btnSearch:active,
#btnSearch:focus {
    background-color: #b90303;
}

#inputCity {
    background-color: rgba(0, 0, 0, 0.192);
    border: 5px solid white;
}

.weather {
    margin-top: 20px;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    display: flex;
    flex-direction: row;
}

.city-name {
    font-weight: 500;
    margin-left: 0.3rem;
}

.weather > div {
    margin-bottom: 5px;
}
